.elements {
    margin: 51px auto 0;
    max-width: calc(100% - 400px);
}

@media screen and (max-width: 1070px) {
    .elements {
        max-width: calc(100% - 38px);
        margin-top: 36px;
    }
}