.profile__addButton {
    display: flex;
    height: 50px;
    width: 150px;
    border: 1px solid #ffffff;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1070px) {
    .profile__addButton {
        margin-top: 36px;
        width: 100%;
    }
}

.profile__addButton:hover {
    opacity: 0.6;
}