.add-popup_opened {
    visibility: visible;
    opacity: 1;
    animation: open 0.3s ease;
}

@keyframes open {
    from {
        
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;   
    }
  }