.elements__likeButton {
    background-image: url(../../../images/elements-heart.svg);
    height: 19px;
    width: 22px;
    border: none;
    background-color: white;
    background-repeat: no-repeat;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
}

.elements__likeButton:active {
    background-image: url(../../../images/elements-blackheart.svg);
}

.elements__likeButton:not(.element__button:active):hover {
    opacity: 0.5;
}
